<div class="log-summary-wrapper">
  <div class="no-data">
    <p>\(o_o)/</p>
    <p>Click on the error to get more details!</p>
  </div>
  <!-- <h2><span>Uncaught ReferenceError</span>: test is not defined</h2>
  
  <h4>Debug Information</h4>
  <ul>
    <li><span>StackTrace</span> : </li>
    <li><span>File Name</span> : </li>
    <li><span>File Path</span> : </li>
    <li><span>Line :</span></li>
    <li><span>Column :</span></li>
  </ul>
  
  <h4>General Informataion</h4>
  
  <ul>
    <li><span>Timestamp</span> : </li>
  </ul> -->
</div>