<div class="log-summary-wrapper">
  <div class="no-data">
    <p>\(o_o)/</p>
    <p>Click on the error to get detailed logs!</p>
  </div>
  <div class="log-summary-details hide">
    <h2></h2>
    
    <h4>Debug Information</h4>
    <ul class="log-debug-info">
      <li class="log-stack-trace"><span>StackTrace</span><span></span></li>
      <li class="log-file-name"><span>File Name</span><span></span></li>
      <li class="log-file-line"><span>Line</span><span></span></li>
      <li class="log-file-column"><span>Column</span><span></span></li>
    </ul>
    
    <h4>Client Informataion</h4>
    <ul class="log-general-info">
      <li class="log-client-time"><span>Client Time</span><span></span></li>
      <li class="log-user-agent"><span>User Agent</span><span></span></li>
    </ul>
  </div>
</div>