<div class="log-list">
  <ul>
    <li>
      <div class="log-item-wrapper">
        <div class="log-info clear">
          <div class="log-badge development-badge">development</div>
          <div class="log-badge bug-count-badge">23</div>
          <div class="log-time">7 hours ago</div>
        </div>
        <h4>Uncaught ReferenceError: test is not defined</h4>
      </div>
    </li>
    <li>
      <div class="log-item-wrapper">
        <div class="log-info clear">
          <div class="log-badge development-badge">development</div>
          <div class="log-time">8 hours ago</div>
        </div>
        <h4>Uncaught ReferenceError: test is not defined</h4>
      </div>
    </li>
  </ul>
</div>