<!DOCTYPE html>
<html lang="en no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Remote Logerr</title>
    <link rel="icon" href="assets/images/fav-logo.png" type="image/png" />
    <link rel="shortcut icon" href="assets/images/fav-logo.ico" />
    <link rel="stylesheet" href="assets/stylesheets/app.min.css">
  </head>
  <body>
    <div class="app-wrapper">
      <% include ../partials/_header %>
      <% include ../partials/_sidebar %>
      <% include ../partials/_log_list %>
      <% include ../partials/_log_summary %>
    </div>
    
    <script src="assets/scripts/lib/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="assets/scripts/App.js"></script>
    <script>App.init();</script>
  </body>
</html>