* {
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Menlo;
  color: #454545;
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

.clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.hide {
  display: none;
}

.app-wrapper {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}