header {
  border-bottom: 1px solid #f3f3f3;
  padding: 40px 0;
}

.logo {
  h1 {
    font-size: 19px;
    padding-left: 10px;
  }
  
  span {
    color: #e74c3c;
    position: relative;
    top: -1px;
  }
  
  sup {
    font-size: 12px;
    position: relative;
    top: -20px;
    right: 15px;
    text-transform: uppercase;
  }
}