.no-data {
  position: absolute;
  max-width: 250px;
  line-height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  
  p {
    padding: 10px;
    text-align: center;
    color: #ccc;
    
    &:first-child {
      font-size: 24px;
    }
  }
}

.log-summary-wrapper {
  position: relative;
  float: left;
  margin-top: 40px;
  width: 45%;
  padding: 0 20px;
  padding-right: 0;
  padding-top: 25px;
  height: calc(100% - 140px);
  
  h2 {
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
    
    span {
      color: #e74c3c;
    }
  }
  
  h4 {
    color: #e74c3c;
    padding-bottom: 10px;
    font-size: 12px;
    margin-top: 40px;
    text-decoration: underline;
    
    &:first-of-type {
      margin-top: 20px;
    }
  }
  
  li {
    margin-bottom: 10px;
    line-height: 18px;
  }
}

.log-debug-info,
.log-general-info {
  li {
    margin-bottom: 10px;
    
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
  
  span {
    float: left;
    
    &:first-child {
      width: 20%;
      position: relative;
      
      &:after {
        content: ':';
        position: absolute;
        right: 0;
      }
    }
    
    + span {
      width: 80%;
      padding-left: 10px;
    }
  }
}