aside {
  width: 15%;
  margin-top: 40px;
  float: left;
  height: calc(100% - 140px);
  padding-top: 25px;
  border-right: 1px solid #f3f3f3;
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    padding: 10px;
    display: block;
  }
  
  .active-main-nav {
    color: #e74c3c;
    position: relative;
    
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: -1px;
      top: 0;
      background-color: #e74c3c;
    }
  }
}